* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* ----- ----- HEADER ----- ----- */
header {
  background: url("../img/bg.jpg") #49a3d6;
  background-position: center;
  background-size: cover;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .men{
  padding: 20px;
  background-color: #891f00;
  display: flex;
  justify-content: center;
}
.men .menu a {
	color: #fff;
	text-decoration: none;
  margin: 10px 20px;
	font-size: 18px;
}

header .menu a:hover {
	text-decoration: underline;
}

header .contenedor-texto {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 190px 0;
}

header .contenedor-texto .texto {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

header .contenedor-texto .texto .nombre {
  margin-bottom: 10px;
  font-size: 50px;
  font-family: 'Arial Narrow Bold', sans-serif;
  line-height: 50px;
}

/* ----- ----- MAIN ----- ----- */

.main .acerca-de {
	text-align: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .acerca-de .foto img {
	border-radius: 30%;
}

.main .acerca-de .texto {
	color: #000;
	font-weight: 600;
  padding: 0 50px;
	font-size: 1em;
	line-height: 30px;
  text-align: justify;
	width: 50%;
}

.main .acerca-de .texto .titulo {
	font-size: 34px;
	line-height: 34px;
	margin: 0 10px;
	color: #891f00;
	text-align: center;
}


/* ----- ----- Producto ----- ----- */
.main .trabajos {
  background: url("../img/grano.jpg") #49a3d6;
  background-size: cover;
  padding: 70px 0 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
} 

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
/* ----- ----- Modal ----- ----- */


/* ----- ----- FOOTER ----- ----- */
footer .contacto {
  padding: 60px 0;
}

footer .contacto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #891f00;
  text-align: center;
}

footer .contacto .formulario {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 10px auto;
  justify-content: space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
  border: 2px solid #891f00;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #891f00;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus {
  border: 2px solid #3895ea;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
  width: 49%;
  margin-bottom: 15px;
}

footer .contacto .formulario textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 15px;
}

footer .contacto .formulario .boton {
  margin: auto;
  background: #891f00;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer;
}

footer .contacto .formulario .boton:hover {
  background: #387bea;
}

footer .redes-sociales {
  background: #1e2b38;
  padding: 60px 0;
}

footer .redes-sociales .contenedor {
  display: flex;
  justify-content: center;
}

footer .redes-sociales a {
  color: #fff;
  text-align: center;
  width: 100px;
  display: block;
  padding: 15px 0;
  border-radius: 3px;
  font-size: 30px;
  margin: 0 20px;
}

footer .redes-sociales .youtube:hover {
  background: #891f00;
}
footer .redes-sociales .github:hover {
  background: #891f00;
}
footer .redes-sociales .instagram:hover {
  background: #891f00;
}

/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 800px) {
  header .menu {
    text-align: center;
  }
  .main .acerca-de {
    flex-direction: column;
    height: 800px;
  }
  .main .acerca-de .texto {
    width: 80%;
  }

  .main .trabajos .contenedor-trabajos .trabajo {
    width: 46%;
  }
  footer .contacto .formulario input[type="text"],
  footer .contacto .formulario input[type="email"] {
    width: 100%;
    margin-bottom: 15px;
  }
  footer .contacto .formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  header .contenedor-texto .texto .nombre {
    font-size: 35px;
  }

  header .contenedor-texto .texto .profesion {
    font-size: 18px;
  }

  footer .redes-sociales .contenedor {
    flex-wrap: wrap;
    padding: 20px 0;
  }
}
